config.env
error.log
__pycache__/*
geezproject.db
*.session
*.session-journal
TG_BOT_TOKEN.session
TG_BOT_TOKEN.session-journal
geezproject/__pycache__/*
geezproject/modules/__pycache__/*
geezproject/modules/sql_helper/__pycache__/*
.git
.github
.config
.progress
.vscode/*
bin/*
venv
*.pyc
